{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        


        <title>Bare - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/sticky-footer.css" %}">
        
       
        
       
   </head>
  

  <body style="background-color:whitesmoke">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Administración de Redes y Seguridad 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;font-weight: 600">
                    <img src="{% static "images/usuario.jpg" %}" alt="Logo" style="border-radius: 50%;" height="25" width="25"/>
                    Usuario
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="font-size: 14px;font-weight: 600;color: grey;">Activar autenticación multifactor</a>
                    <a class="dropdown-item" href="#" style="font-size: 14px;font-weight: 600;color: grey;">Desactivar autenticación multifactor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" style="font-size: 14px;font-weight: 600;color: grey;">Ver QR</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" style="font-size: 14px;font-weight: 600;color: grey;">Cerrar sesión</a>
                  </div>
                </li>
            </li>
          </ul>
        </div><!-- colapse navbar -->
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" id="div-principal">
            
            <h1 style="text-align: center;color: #333;font-size: 24px;font-weight: 300;letter-spacing: -.5px;">Hola!</h1>
            <div class="container col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background-color: white; border-color: black; border-radius: 5px;    border: 1px solid #d8dee2;  ">  
                
                <div>
                    
                </div> 
                                  
            </div> <!-- /container -->
            <br>

            
            <div style="text-align: center;">
                <img src="{% static "images/construccion.jpg" %}" alt="Logo" style="border-radius: 50%;" height="500" width="600"/>
            </div>
        </div> <!--div-principal-->
      </div> <!--row-->
    </div> <!--container-->
    </div><!--content-->


                          


            
    <!-- Footer -->
    <!-- https://css-tricks.com/couple-takes-sticky-footer/ -->
    <br>
    <br>
    <footer class="footer">
      <div class="container">
        <span class="text-muted"><small style="color:white;"> @ARyS2018 { Iván Javier Parra } </small> </span>
      </div>
    </footer>


   

    <!-- Bootstrap core JavaScript -->
    
    
          
    <script src="{% static "js/jquery.min.js" %}"></script>
    
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    
    




  </body>

</html>
